@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: serif;
  background:black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.anim {
  background: white;
  color: black;
	transition: .4s ease-in-out;
}

h1{
  font-family: 'Allura', cursive;
  font-size: 8em;
}

.namediv {
  padding: 1.2em 0;
}
